/* Estilos para o menu */
nav {
    background-color: #a90e0b;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav :hover {
    color: #301d1060;
}

body{
    font-family: Helvetica,Arial;
    color: #333;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

main{
  padding-left: 4%;
  padding-right: 4%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
     
  }


  input{
    border: 0;
    outline: 0;
    border-width: 0; 
    box-shadow: none;
    text-align: center;
    
  }

  table{
    width: 100%;
    
  }

  select, option{
    border: none;
    background-color: white;
    

  }

  @media (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;

    }
    
  }

.botao {
  cursor: pointer;
  color: #fff;
  background-color: #a90e0b;
  border-radius: 5px;
  padding: 10px;
}

.botao:hover {
  cursor: pointer;
  color: #ffffffd5;
  background-color: #8a0c0a;
  border-radius: 5px;
  padding: 10px;
}

button {
  border: none;
}

/* Remove flechas do input type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
 
  text-align: center;
  background-color: #a90e0b;
  color: white;
  padding: 5%;
  margin-top: 4%;
}
